body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

#einplayer-content {
  position: relative;
  padding: 4px;
}

#player {
  position: relative;
  margin-bottom: 15px;
}
#banner {
  position: relative;
  height: 40px;
  border: solid 2px rgb(66,66,66);
  margin-bottom: 10px;
  padding: 0 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#slider {
  width: 305px;
  margin: auto;
}
.slider-track {
  height: 9px;
  background-repeat: no-repeat;
  background-color: transparent;
}
#slider.disabled {
  opacity : 0.4;
}
#track-left {
  width: 5px;
  float: left;
}
#track-right {
  margin-left: 5px;
}
#handle {
  position: relative;
  width: 9px;
  height: 9px;
  margin-left: -4px;
}
#handle-image {
  height: 12px;
  margin-top: -3px;
}
#handle-val {
  display: none;
  top: -10px;
  position: absolute;
  font: 10px arial, sans-serif;
}
#player #duration {
  position: absolute;
  right: 20px;
  height: 12px;
  width: 12px;
  font: 10px arial, sans-serif;
}

#browse-list {
  height: 280px;
}
#queue-list {
  max-height: 280px;
}
#queue-region {
  max-height: 330px;
  height: 330px;
}
.region-header {
  font: bold 18px arial, sans-serif;
  height: 22px;
}

.tracklist-container {
  position: relative;
  overflow-y: auto;
}
.tracklist {
  display: table;
  empty-cells: show;
  border: solid 2px rgb(66,66,66); 
}
.tracklist .row {
  position: relative;
  display: table-row;
  -khtml-user-select: none;
  background-color: rgb(233,233,233);
}
.tracklist .row:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
.tracklist .row.selected {
  background-color: #b6b6b6;
}
.tracklist .row.selected:hover {
  background-color: #9d9d9d;
}
.tracklist .row.listened {
  opacity : 0.65;
}
.tracklist .row.playing .cell{
  font-weight: bold;
}
.tracklist .row:not(.playing) .cell{
  font-weight: normal !important;
}
.tracklist .cell {
  position: relative;
  display: table-cell;
  min-height: 16px;
  float: left;
  font: 14px arial,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px rgb(50,153,187);
  border-bottom: solid 1px rgb(50,153,187);
}
.tracklist .row:last-child .cell{
  border-bottom: none;
}
.tracklist .row.drag-target .cell{
  border-bottom: solid 2px #ff9900;
}
.tracklist .cell.trackName-col {
  width: 150px;
}
.tracklist .cell.artistName-col {
  width: 100px;
}
.tracklist .cell.cassette-col {
  border-right: none;
  width: 68px;
}
.tracklist .row-buttons {
  display: none;
  position: absolute;
  right: 2px;
  margin: 1px;
}
.tracklist .row-buttons > .button {
  height: 12px;
  width: 12px;
  float: left;
  border: 1px solid black;
  background-position: center;
  margin-left: 1px;
}
.tracklist .row:hover .row-buttons{
  display: inline-block;
}
#browse-list .row .row-buttons > .button.remove {
  display: none;
}
#queue-list .row .row-buttons > .button.queue {
  display: none;
}

.tracklist #hidden-droprow .cell {
  max-height: 3px;
  min-height: 3px;
  background-color: rgb(233,233,233) !important;
}
.tracklist #hidden-droprow .cell {
  border-bottom: transparent !important;
}
.tracklist #hidden-droprow.drag-target .cell {
  background-color: #ff9900 !important;
}

#queue-buttons {
  margin-bottom: 4px;
  height: 26px;
}

#playlist-list {
  position: relative;
}
#playlist-list #playlist-list-header {
  width: 90px;
  border: 2px solid rgb(66,66,66);
  background-color: #f2f2f2;
  margin: 3px;
  float: left;
  text-align: center;
  font-size: 14px;
}
#playlist-list #playlist-list-content {
  display: none;
  position: absolute;
  top: 22px;
  left: 3px;
  border: solid 2px rgb(66,66,66); 
  background-color: #f2f2f2;
  z-index: 100;
}
#playlist-list-content .row:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
#playlist-list .row {
  display: table-row;
  -khtml-user-select: none;
  min-height: 16px;
}
#playlist-list .row .row-buttons > .button {
  height: 14px;
  width: 14px;
  margin: 1px;
  background-position: center;
}
#playlist-list .cell {
  display: table-cell;
  min-height: 16px;
  float: left;
  font: 14px arial,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: solid 1px rgb(50,153,187);
}
#playlist-list .row:last-child .cell{
  border-bottom: none;
}
#playlist-list .cell.playlistName-col {
  width: 200px;
}

#repeat.active {
  border: 3px solid red;
}
