body {
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.einplayer-content {
  overflow: hidden;
  position: relative;
  margin: 4px;
}

#player {
  position: relative;
  margin-bottom: 15px;
}

#banner {
  position: relative;
  height: 30px;
  border: solid 2px rgb(66,66,66);
  margin-bottom: 10px;
}
#slider {
  width: 305px;
  margin: auto;
}
.slider-track {
  height: 9px;
  background-repeat: no-repeat;
  background-color: transparent;
}
#slider.disabled {
  opacity : 0.4;
}
#track-left {
  width: 5px;
  float: left;
}
#handle {
  position: relative;
  width: 9px;
  height: 9px
}
#handle-image {
  height: 12px;
  margin-top: -4px;
}

.tracklist {
  position: relative;
  display: table;
  empty-cells: show;
  border: solid 2px rgb(66,66,66); 
  background-color: rgb(233,233,233);
}
.tracklist .row {
  position: relative;
  display: table-row;
  -khtml-user-select: none;
}
.tracklist .row:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
.tracklist .row.selected {
  background-color: #b6b6b6;
}
.tracklist .row.selected:hover {
  background-color: #9d9d9d;
}
.tracklist .row.listened {
  opacity : 0.65;
}
.tracklist .row.playing .cell{
  font-weight: bold;
}
.tracklist .row:not(.playing) .cell{
  font-weight: normal !important;
}
.tracklist .cell {
  display: table-cell;
  min-height: 16px;
  float: left;
  font: 14px arial,sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px rgb(50,153,187);
  border-bottom: solid 1px rgb(50,153,187);
}
.tracklist .row:last-child .cell{
  border-bottom: none;
}
.tracklist .row.drag-target .cell{
  border-bottom: solid 2px #ff9900;
}
.tracklist .cell.trackName-col {
  width: 150px;
}
.tracklist .cell.artistName-col {
  width: 100px;
}
.tracklist .cell.cassette-col {
  border-right: none;
  width: 78px;
}
.tracklist .row-buttons {
  display: none;
  position: absolute;
  right: 0px;
  margin: 1px;
}
.tracklist .row-buttons > .button {
  height: 12px;
  width: 12px;
  float: left;
  border: 1px solid black;
  background-position: center;
  margin-left: 1px;
}
.tracklist .row:hover .row-buttons{
  display: inline-block;
}
#browse-list .row .row-buttons > .button.remove {
  display: none;
}
#queue-list .row .row-buttons > .button.queue {
  display: none;
}

.tracklist #hidden-droprow .cell {
  max-height: 3px;
  min-height: 3px;
  background-color: rgb(233,233,233) !important;
}
.tracklist #hidden-droprow .cell {
  border-bottom: transparent !important;
}
.tracklist #hidden-droprow.drag-target .cell {
  background-color: #ff9900 !important;
}

#playlist-list .row {
  min-height: 16px;
  border: 1px solid blue;
}
#playlist-list .row .cell{
  float: left;
}
#playlist-list .row .row-buttons > .button {
  height: 14px;
  width: 14px;
  margin: 1px;
  background-position: center;
  float: right;
}



