<html>
  <head>
    <!-- Vendor includes -->
    <script type="text/javascript" src="/vendor/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="/vendor/underscore.js"></script>
    <script type="text/javascript" src="/vendor/backbone.js"></script>
  
    <!-- Initialize -->
    <script type="text/javascript" src="einplayer-utils.js"></script>
    <script type="text/javascript" src="einplayer-backend-init.js"></script>
    <script type="text/javascript" src="einplayer-cassettemanager.js"></script>
    <script type="text/javascript" src="einplayer-templatemanager.js"></script>
    <script type="text/javascript" src="einplayer-messagehandler.js"></script>
  
    <!-- Models -->
    <script type="text/javascript" src="models/cassette.js"></script>
    <script type="text/javascript" src="models/track.js"></script>
    <script type="text/javascript" src="models/tracklist.js"></script>

    <!-- Cassettes -->
    <script type="text/javascript" src="models/cassettes/scraper-cassette.js"></script>

    <!-- Default Views -->
    <script type="text/javascript" src="views/tracklist-view.js"></script>
    <script type="text/javascript" src="views/einplayer-view.js"></script>

    <script id="Player-default-template" type="text/template">
      <div id="queue-list" class="tracklist"></div>
      <div id="browse-list" class="tracklist"></div>
    </script>

    <script id="TrackList-default-template" type="text/template">
      <% for (var i=0; i < trackList.length; i++) {
        var track = trackList[i];
      %>
        <div class="row">
          <div class="cell trackName-col"> <%= track.trackName %> </div>
          <div class="cell artistName-col"> <%= track.artistName %> </div>
          <div class="cell cassette-col"> <%= track.cassette %> </div>
        </div>
      <% } %>
    </script>
  
    <script type="text/javascript">
      $(function() {
          Einplayer.Backend.init();
      });
      chrome.extension.onRequest.addListener
        (Einplayer.Backend.MessageHandler.handleRequest);
    </script>
    
  </head>
  
</html>
