<html>
  <head>
    <!-- Vendor includes -->
    <script type="text/javascript" src="/vendor/jquery-1.6.2.js"></script>
    <script type="text/javascript" src="/vendor/underscore.js"></script>
    <script type="text/javascript" src="/vendor/backbone.js"></script>
  
    <!-- Initialize -->
    <script type="text/javascript" src="einplayer-utils.js"></script>
    <script type="text/javascript" src="einplayer-backend-init.js"></script>
    <script type="text/javascript" src="einplayer-bank.js"></script>
    <script type="text/javascript" src="einplayer-cassettemanager.js"></script>
    <script type="text/javascript" src="einplayer-templatemanager.js"></script>
    <script type="text/javascript" src="einplayer-messagehandler.js"></script>
    <script type="text/javascript" src="einplayer-sequencer.js"></script>
  
    <!-- Models -->
    <script type="text/javascript" src="models/cassette.js"></script>
    <script type="text/javascript" src="models/cassettelist.js"></script>
    <script type="text/javascript" src="models/track.js"></script>
    <script type="text/javascript" src="models/tracklist.js"></script>
    <script type="text/javascript" src="models/playlist.js"></script>
    <script type="text/javascript" src="models/playlistlist.js"></script>

    <!-- Cassettes -->
    <script type="text/javascript" src="models/cassettes/scraper-cassette.js"></script>

    <!-- Default Views -->
    <script type="text/javascript" src="views/cassettelist-view.js"></script>
    <script type="text/javascript" src="views/tracklist-view.js"></script>
    <script type="text/javascript" src="views/queue-view.js"></script>
    <script type="text/javascript" src="views/browselist-view.js"></script>
    <script type="text/javascript" src="views/playlistlist-view.js"></script>
    <script type="text/javascript" src="views/frame-view.js"></script>
    <script type="text/javascript" src="views/player-view.js"></script>

    <script id="Frame-default-template" type="text/template">
      <div id="player">Player Here</div>
      <div id="queue-region" class="region">
        <div class="region-header">Queue</div>
        <div id="queue-list" class="tracklist"></div>
  
        <div id="queue-buttons">
          <div id="playlist-list"></div>
          
          <button id="queue-save"
                  type="button"
                  onclick="Einplayer.Frontend.Frame.saveQueue()">
            Save
          </button>
          <div id="playback-button-box">
            <img id="repeat"
                 class="playback-button"
                 onclick="Einplayer.Frontend.Frame.toggleRepeat()"></img>
            <img id="queue-shuffle"
                 class="playback-button"
                 onclick="Einplayer.Frontend.Frame.shuffleQueue()"></img>
            <img id="queue-clear"
                 class="playback-button"
                 onclick="Einplayer.Frontend.Frame.clearQueue()"></img>
          </div>
        </div>
      </div>

      <div id="browse-region" class="region">
        <div class="region-header">Browse</div>
        <div id="browse-list" class="tracklist"></div>
      </div>
    </script>

    <script id="Player-default-template" type="text/template">
      <div id="banner-region">
        <div id="banner">
          <%
          var bannerStr = "";
  
          if (state != "stop" && typeof(track) != "undefined") {
            if (typeof(track.artistName) != "undefined") {
              bannerStr += track.artistName;
            }
            if (typeof(track.trackName) != "undefined") {
              if (bannerStr.length > 0) {
                bannerStr += " &ndash; ";
              }
              bannerStr += track.trackName;
            }
          }
  
          if (state == "load") {
            bannerStr += "<br />(Loading)";
          }
          else if (state == "pause") {
            bannerStr += "<br />(Paused)";
          }
          print(bannerStr);
          %>
        </div>
        <div id="volume-slider"
             class="slider
                    <% if (state != "play" && state != "pause") {
                      print(" disabled ");
                    }%>" >
          <div id="track-top" class="slider-track"></div>
          <div id="track-bottom" class="slider-track">
            <div id="handle">
              <img id="handle-image"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="seek-slider"
           class="slider
                  <% if (state != "play" && state != "pause") {
                    print(" disabled ");
                  }%>" >
        <div id="track-left" class="slider-track"></div>
        <div id="track-right" class="slider-track">
          <div id="handle">
            <div id="handle-val"></div>
            <img id="handle-image"></img>
          </div>
        </div>
      </div>
      <div id="duration"></div>
    </script>

    <script id="TrackList-default-template" type="text/template">
      <div class="tracklist">
        <div class="row" id="hidden-droprow" index="-1">
          <div class="cell trackName-col"></div>
          <div class="cell artistName-col"></div>
          <div class="cell cassette-col"></div>
        </div>
        <% for (var i=0; i < trackList.length; i++) {
          var track = trackList[i];
        %>
          <div class="row
                      <% if (track.listened) { print(" listened ") } %>
                      <% if (track.playing) { print(" playing ") } %>"
               index='<%= i %>'
               track-id='<%= track.einID %>'
               track-type='<% if(typeof(track.type) == "undefined") {
                                print("unknown")
                              } else {
                                print(track.type)
                              } %>'
               <% if (typeof(track.download) != "undefined") {
                  print("download='" + track.download + "'");
               } %> 
               draggable="true"
               onclick="Einplayer.Frontend.Frame.rowClick(event)" >
            <div class="cell trackName-col"> <%= track.trackName %> </div>
            <div class="cell artistName-col"> <%= track.artistName %> </div>
            <div class="cell cassette-col"> <%= track.cassette %>
              <div class="row-buttons">
                <div class="button playnow"
                     onclick="Einplayer.Frontend.Frame.rowButtonPlaynow(event)"></div>
                <div class="button remove"
                     onclick="Einplayer.Frontend.Frame.rowButtonRemove(event)"></div>
                <div class="button queue"
                     onclick="Einplayer.Frontend.Frame.rowButtonQueue(event)"></div>
                <div class="button download"
                     onclick="Einplayer.Frontend.Frame.rowButtonDownload(event)"></div>
                <div class="spinner download"
                     id="download-spinner"></div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </script>

    <script id="PlaylistList-default-template" type="text/template">
      <div id="playlist-list-header">Load a playlist</div>
      <div id="playlist-list-content">
        <% for (var i=0; i < playlistList.length; i++) {
          var playlist = playlistList.at(i);
        %>
          <div class="row"
             index='<%= i %>'
             onclick="Einplayer.Frontend.Frame.playPlaylist(event)" >
            <div class="cell playlistName-col"> <%= playlist.id %> </div>
            <div class="cell row-buttons">
              <div class="button removePlaylist"
                   onclick="Einplayer.Frontend.Frame.rowButtonRemovePlaylist(event)"></div>
            </div>
          </div>
        <% } %>
      </div>
    </script>

    <script id="CassetteList-default-template" type="text/template">
      <% for (var i=0; i < cassetteList.length; i++) {
        var cassette = cassetteList[i];
      %>
        <div class="row"
             index='<%= i %>'
             cassette-id='<%= cassette.einID %>'
             onclick="alert('cassetteClick')" >
          <div class="cell cassetteName-col"> <%= cassette.name %> </div>
          <div class="row-buttons">
              <div class="button remove"
                   onclick="Einplayer.Frontend.Frame.rowButtonRemove(event)"></div>
          </div>
        </div>
      <% } %>
    </script>
  
    <script type="text/javascript">
      $(function() {
          Einplayer.Backend.init();
      });
      chrome.extension.onRequest.addListener
        (Einplayer.Backend.MessageHandler.handleRequest);
    </script>
    
  </head>
  <body>
    <audio id="audioplayer" preload="auto">
    </audio>
  </body>
  
</html>
