<html>
  <head>
    <!-- Vendor includes -->
    <script type="text/javascript" src="/vendor/jquery-1.7.js"></script>
    <script type="text/javascript" src="/vendor/underscore.js"></script>
    <script type="text/javascript" src="/vendor/backbone.js"></script>

    <!-- Initialize -->
    <script type="text/javascript" src="/util/backend-util.js"></script>
    <script type="text/javascript" src="/frontend/scripts/track-parser.js"></script>
    <script type="text/javascript" src="backend-init.js"></script>
    <script type="text/javascript" src="bank.js"></script>
    <script type="text/javascript" src="cassettemanager.js"></script>
    <script type="text/javascript" src="templatemanager.js"></script>
    <script type="text/javascript" src="injectmanager.js"></script>
    <script type="text/javascript" src="messagehandler.js"></script>
    <script type="text/javascript" src="sequencer.js"></script>

    <!-- Models -->
    <script type="text/javascript" src="models/cassette.js"></script>
    <script type="text/javascript" src="models/cassettelist.js"></script>
    <script type="text/javascript" src="models/track.js"></script>
    <script type="text/javascript" src="models/tracklist.js"></script>
    <script type="text/javascript" src="models/playlist.js"></script>
    <script type="text/javascript" src="models/playlistlist.js"></script>

    <!-- Cassettes -->
    <script type="text/javascript" src="models/cassettes/scraper-cassette.js"></script>
    <script type="text/javascript" src="models/cassettes/cassettify-template.js"></script>

    <!-- Default Views -->
    <script type="text/javascript" src="views/tapedeck-view.js"></script>
    <script type="text/javascript" src="views/browseregion-view.js"></script>
    <script type="text/javascript" src="views/cassettelist-view.js"></script>
    <script type="text/javascript" src="views/tracklist-view.js"></script>
    <script type="text/javascript" src="views/queue-view.js"></script>
    <script type="text/javascript" src="views/browselist-view.js"></script>
    <script type="text/javascript" src="views/playlistlist-view.js"></script>
    <script type="text/javascript" src="views/frame-view.js"></script>
    <script type="text/javascript" src="views/player-view.js"></script>
    <script type="text/javascript" src="views/modal-view.js"></script>

    <script id="Frame-default-template" type="text/template">
      <div id="player">Player Here</div>
      <div id="queue-region" class="region">
        <div id="queue" class="tracklist"></div>

        <div id="queue-buttons">
          <div id="playlist-list"></div>

          <button id="queue-save" type="button">
            Save
          </button>
          <div id="playback-button-box">
            <img id="repeat" class="playback-button"></img>
            <img id="queue-shuffle" class="playback-button"></img>
            <img id="queue-clear" class="playback-button"></img>
          </div>
        </div>
      </div>

      <div id="browse-region" class="region"></div>
    </script>

    <script id="BrowseRegion-default-template" type="text/template">
      <div id="browse-list" class="tracklist"></div>
      <div id="cassette-list" class="cassettelist"></div>
    </script>

    <script id="Player-default-template" type="text/template">
      <div id="banner-region">
        <div id="banner">
          <%
          var bannerStr = "";

          if (state != "stop" && typeof(track) != "undefined") {
            if (typeof(track.artistName) != "undefined") {
              bannerStr += track.artistName;
            }
            if (typeof(track.trackName) != "undefined") {
              if (bannerStr.length > 0) {
                bannerStr += " &ndash; ";
              }
              bannerStr += track.trackName;
            }
          }

          if (state == "load") {
            bannerStr += "<br />(Loading)";
          }
          else if (state == "pause") {
            bannerStr += "<br />(Paused)";
          }
          print(bannerStr);
          %>
        </div>
        <div id="volume-slider"
             class="slider
                    <% if (state != "play" && state != "pause") {
                      print(" disabled ");
                    }%>" >
          <div id="track-top" class="slider-track"></div>
          <div id="track-bottom" class="slider-track">
            <div id="handle">
              <img id="handle-image"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="seek-slider"
           class="slider
                  <% if (state != "play" && state != "pause") {
                    print(" disabled ");
                  }%>" >
        <div id="track-left" class="slider-track"></div>
        <div id="track-right" class="slider-track">
          <div id="handle">
            <div id="handle-val"></div>
            <img id="handle-image"></img>
          </div>
        </div>
      </div>
      <div id="duration"></div>
    </script>

    <script id="TrackList-default-template" type="text/template">
      <div class="tracklist">
        <% if(typeof(trackList) == "undefined" || trackList == null) { %>
          <div class="row-container">
            <div class="row blank">
              <div class="spinner loading"
                   id="loading-spinner"></div>
            </div>
          </div>
        <% } else if (trackList.length == 0) { %>
          <div class="row-container">
            <div class="row blank">
              <% if (trackList.destination == "Queue") { %>
                There are no tracks in your queue.
              <% }
              else { %>
                Cassette is blank. (Soundcloud may be loading)
              <% } %>
            </div>
          </div>

        <% }
        else { %>
          <div class="row-container">
            <div class="row" id="hidden-droprow" index="-1">
              <div class="cell trackName-col"></div>
              <div class="cell artistName-col"></div>
              <div class="cell cassette-col"></div>
            </div>
          </div>

          <% for (var i=0; i < trackList.length; i++) {
            var track = trackList[i];
          %>
            <div class="row-container">
              <div class="row
                          <% if (track.listened) { print(" listened ") } %>
                          <% if (track.playing) { print(" playing ") } %>"
                   index='<%= i %>'
                   track-id='<%= track.tdID %>'
                   track-type='<% if(typeof(track.type) == "undefined") {
                                    print("unknown")
                                  } else {
                                    print(track.type)
                                  } %>'
                   <% if (typeof(track.download) != "undefined") {
                      print("download='" + track.download + "'");
                   } %>
                   draggable="true" >
                <div class="cell trackName-col" title='<%= track.trackName %>'>
                  <span class="trackName-span" >
                    <%= track.trackName %>
                  </span>
                </div>
                <div class="cell artistName-col" title='<%= track.artistName %>'>
                  <%= track.artistName %>
                </div>
                <div class="cell cassette-col" title='<%= track.cassette.replace(/_/g, " ") %>'>
                  <%= track.cassette.replace(/_/g, " ") %>
                  <div class="row-buttons">
                    <div class="button playnow"></div>
                    <div class="button remove"></div>
                    <div class="button queue"></div>
                    <div class="button download"></div>
                  </div>
                  <div class="row-indicators">
                    <div class="spinner download"
                         id="download-spinner"></div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
      <% if (typeof(currentCassette) != "undefined") { %>
        <div id="current-cassette-row" class="row">
          <div class="cell current-cassette-col">
            <%= currentCassette.get("name").replace(/_/g, " ") %>
            <div class="row-buttons">
              <% if (currentCassette.isPageable() && typeof(currentPage) != "undefined") { %>
                <div class="button prev-page"></div>
                <div id="current-page" class="button current-page">
                  <%= currentPage %>
                </div>
                <div class="button next-page"></div>
              <% } %>
              <div class="button eject"></div>
            </div>
          </div>
        </div>
      <% } %>
    </script>

    <script id="PlaylistList-default-template" type="text/template">
      <div id="playlist-list-header">Load a playlist</div>
      <div id="playlist-list-content">
        <% for (var i=0; i < playlistList.length; i++) {
          var playlist = playlistList.at(i);
        %>
          <div class="row" index='<%= i %>' >
            <div class="cell playlistName-col"> <%= playlist.id %> </div>
            <div class="cell row-buttons">
              <div class="button removePlaylist"></div>
            </div>
          </div>
        <% } %>
      </div>
    </script>

    <script id="CassetteList-default-template" type="text/template">
      <div class="cassettelist">
        <% for (var i=0; i < cassetteList.length; i++) {
          var cassette = cassetteList[i];
          var displayName = cassette.name.replace(/_/g, " ");
        %>
          <div class="row-container">
            <div class="row <% if (cassette.active) { print(" active "); } %>"
                 index='<%= i %>'
                 cassette-name='<%= cassette.name %>' >
              <div class="cell cassetteName-col" title='<%= displayName %>'> <%= displayName %> </div>
              <div class="cell developerName-col" title='<%= cassette.developerLink %>'>
                <span class="developer-link"
                      url='<%= cassette.developerLink %>' >
                  <%= cassette.developer %>
                </span>
                <div class="row-buttons">
                  <div class="button remove"></div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <div class="row-container" id="cassettelist-button-row">
        <div class="row-buttons">
        </div>
      </div>
      <div id="add-cassettes-menu">
        <div id="add-cassettes-button" class="button"></div>
        <div id="add-cassettes-content">
          <div class="menu-row coming-soon">
            Get more cassettes (coming soon)
          </div>
          <div class="menu-row cassettify">
            Cassettify
          </div>
        </div>
      </div>
    </script>

    <script id="Modal-default-template" type="text/template">
      <tapedeck>
        <events>
            "click .modal #close-button"  : "Modal.close",
            "click .modal #submit-button" : "Modal.submit",
            "keypress .modal input[type='text']" : "Modal.enterPress",
        </events>
        <images>
          "close-button": "modal-close.png",
        </images>
      </tapedeck>
      <template>
        <!-- Note options are params.X here -->
        <div id="blackout"></div>
        <div id='modal-container' class="modal">
          <div id="close-button"></div>
          <span id="modal-title"><% if (typeof(params.title) != "undefined") print(params.title);  %></span>
          <form id="modal-form">
            <% for (var i=0; i < params.fields.length; i++) {
              var field = params.fields[i]; %>
              <div class="field-row row <%= field.type %>">
                <% if (field.type == "info") { %>
                  <span class="info"><%= field.text %></span>
                <% } else if (field.type == "input") { %>
                  <span class="input"><%= field.text %></span>
                  <input callbackParam="<%= field.callbackParam %>"
                         type="text"
                         <% if (typeof(field.width) != "undefined") print("style='width: " + field.width + "px;'"); %> >
                <% } %>
              </div>
            <% } %>
            <% if (typeof(params.submitButtons) == "undefined") { %>
              <input type="button" id="submit-button" value="Ok" />
            <% } else {
              for (var i=0; i < params.submitButtons.length; i++) {
                var button = params.submitButtons[i]; %>
                <input type="button"
                       class="submit-button"
                       callbackParam="<%= button.callbackParam %>"
                       value="<%= button.text %>" />
              <% }
            } %>
          </form>
        </div>
      </template>
    </script>

  </head>
  <body>
    <audio id="audioplayer" preload="auto">
    </audio>
    <div id="dump"> </div>
  </body>

</html>
