<html>
  <head>
    <!-- Vendor includes -->
    <script type="text/javascript" src="/vendor/jquery-1.7.js"></script>
    <script type="text/javascript" src="/vendor/underscore.js"></script>
    <script type="text/javascript" src="/vendor/backbone.js"></script>

    <!-- Initialize -->
    <script type="text/javascript" src="/util/backend-util.js"></script>
    <script type="text/javascript" src="/frontend/scripts/track-parser.js"></script>
    <script type="text/javascript" src="backend-init.js"></script>
    <script type="text/javascript" src="bank.js"></script>
    <script type="text/javascript" src="cassettemanager.js"></script>
    <script type="text/javascript" src="templatemanager.js"></script>
    <script type="text/javascript" src="injectmanager.js"></script>
    <script type="text/javascript" src="messagehandler.js"></script>
    <script type="text/javascript" src="sequencer.js"></script>
    <script type="text/javascript" src="optionsmanager.js"></script>

    <!-- Models -->
    <script type="text/javascript" src="models/cassette.js"></script>
    <script type="text/javascript" src="models/cassettelist.js"></script>
    <script type="text/javascript" src="models/cassetteadapter.js"></script>
    <script type="text/javascript" src="models/track.js"></script>
    <script type="text/javascript" src="models/tracklist.js"></script>
    <script type="text/javascript" src="models/savedtracklist.js"></script>
    <script type="text/javascript" src="models/playlist.js"></script>
    <script type="text/javascript" src="models/playlistlist.js"></script>

    <!-- Cassettes -->
    <script type="text/javascript" src="models/cassettes/scraper-cassette.js"></script>
    <script type="text/javascript" src="models/cassettes/cassettify-template.js"></script>
    <script type="text/javascript" src="models/cassettes/soundcloud-template.js"></script>

    <!-- Default Views -->
    <script type="text/javascript" src="views/tapedeck-view.js"></script>
    <script type="text/javascript" src="views/browseregion-view.js"></script>
    <script type="text/javascript" src="views/cassettelist-view.js"></script>
    <script type="text/javascript" src="views/tracklist-view.js"></script>
    <script type="text/javascript" src="views/queue-view.js"></script>
    <script type="text/javascript" src="views/browselist-view.js"></script>
    <script type="text/javascript" src="views/playlistlist-view.js"></script>
    <script type="text/javascript" src="views/frame-view.js"></script>
    <script type="text/javascript" src="views/onscreen-view.js"></script>
    <script type="text/javascript" src="views/player-view.js"></script>
    <script type="text/javascript" src="views/modal-view.js"></script>
    <script type="text/javascript" src="views/options-view.js"></script>

    <script id="Frame-default-template" type="text/template">
      <tapedeck>
        <events>
          "onreplace": "onFrameRender",
          "click #queue-save"    : "PlaylistList.makePlaylist",
          "click #sync"          : "toggleSync",
          "click #repeat"        : "toggleRepeat",
          "click #queue-shuffle" : "shuffleQueue",
          "click #queue-clear"   : "clearQueue"
        </events>

        <options>
          "options" : "options"
        </options>

        <images>
          "#sync"          : "sync-off.png"
          "#repeat"        : "repeat-off.png",
          "#queue-shuffle" : "shuffle.png",
          "#queue-clear"   : "trash.png"
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("options", true, params.options);
        } %>
        <div id="frame-gutter">
          <div id="onscreen">
            <template ref="Onscreen-default-template" />
          </div>
        </div>

        <div class="frame-box">
          <div id="player">
            <template ref="Player-default-template" />
          </div>

          <div id="queue" class="tracklist-container">
            <template ref="Queue-default-template" />
          </div>

          <div id="queue-buttons">
            <div id="playlist-list">
              <template ref="PlaylistList-default-template" />
            </div>

            <div id="playback-button-box">
              <img id="sync" class="playback-button"></img>
              <img id="repeat" class="playback-button"></img>
              <img id="queue-shuffle" class="playback-button"></img>
              <img id="queue-clear" class="playback-button"></img>
            </div>
          </div>

          <div id="browse-region">
            <template ref="BrowseRegion-default-template" />
          </div>

          <% if (typeof(params.options) != "undefined" &&
                 typeof(params.options.Add_Developer_Panel) != "undefined" &&
                 params.options.Add_Developer_Panel > 0) { %>
            <template ref="DeveloperPanel-default-template" />
          <% } %>
        </div>
      </template>
    </script>

    <script id="Onscreen-default-template" type="text/template">
      <tapedeck>
        <events>
          "click .onscreen-button.play"  : "Onscreen.playPause",
          "click .onscreen-button.pause" : "Onscreen.playPause",
          "click .onscreen-button.next"  : "Onscreen.next",
          "click .onscreen-button.prev"  : "Onscreen.prev",
          "click .onscreen-button.draweropen" : "Onscreen.setDrawerOpened",
          "click .onscreen-button.drawerclose" : "Onscreen.setDrawerClosed",
        </events>
        <options>
          "playerState" : "state",
          "drawerOpen" : "drawerOpen",
        </options>
        <images>
          ".onscreen-button.play" : "play-button.png",
          ".onscreen-button.pause" : "pause-button.png",
          ".onscreen-button.next" : "next-button.png",
          ".onscreen-button.prev" : "prev-button.png",
          ".onscreen-button.draweropen" : "draweropen-button.png",
          ".onscreen-button.drawerclose" : "drawerclose-button.png",
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("playerState", false, params.state);
          params.paramSanity("drawerOpen", true, params.drawerOpen);
        } %>
        <% if (typeof(params.state) == "undefined" || !params.state) {
            params.state = 'stop';
          }

          if (params.state == "ready" ||
              params.state == "stop" ||
              params.state == "pause") { %>
            <div class="play onscreen-button"></div>
          <% } else { %>
            <div class="pause onscreen-button"></div>
          <% }
        %>
        <div class="next onscreen-button"></div>
        <div class="prev onscreen-button"></div>
        <% if (params.drawerOpen) { %>
          <div class="drawerclose onscreen-button"></div>
        <% } else { %>
          <div class="draweropen onscreen-button"></div>
        <% } %>
      </template>
    </script>

    <script id="Player-default-template" type="text/template">
      <tapedeck>
        <events>
          "mouseover .seek-slider .handle": "Player.SeekSlider.mouseoverHandle",
          "mouseleave .seek-slider .handle": "Player.SeekSlider.mouseleaveHandle",
          "mousedown .seek-slider .handle": "Player.SeekSlider.downOnHandle",

          "mousedown .volume-slider .handle": "Player.VolumeSlider.downOnHandle",

          "mouseup": "Player.mouseUp",
          "onreplace": "onFrameRender"
        </events>
        <options>
          "playerState" : "state",
          "currentTrack" : "track",
          "duration" : "duration",
          "currentTime" : "currentTime",
          "volume" : "volume".
        </options>
        <images>
          ".status-icon.ready"  : "in-player-pause.png",
          ".status-icon.load"  : "in-player-load.gif",
          ".status-icon.stop"  : "in-player-pause.png",
          ".status-icon.pause"  : "in-player-pause.png",
          ".status-icon.play"  : "in-player-play.png",

          ".sound-icon"   : "sound-on.png",
          ".handle-image" : "seek-slider-handle.png"
          ".volume-slider .handle": "volume-slider-handle.png",
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("playerState", false, params.state);
          params.paramSanity("currentTrack", false, params.track);
          params.paramSanity("volume", false, params.volume);
          params.paramSanity("duration", false, params.duration);
          params.paramSanity("currentTime", false, params.currentTime);
        } %>
        <div class="player-window">
          <% if (typeof(params.state) == "undefined" || !params.state) {
            params.state = 'stop';
          } %>
          <div class="track-info">
            <% if (params.state != "stop" &&
                   typeof(params.track) != "undefined" &&
                   params.track != null) {
              if (typeof(params.track.trackName) != "undefined") { %>
                <div class="track-name" title='<%= params.track.trackName %>'>
                  <%= params.track.trackName %>
                </div>
              <% }
              if (typeof(params.track.artistName) != "undefined") { %>
                <div class="artist-name" title='<%= params.track.artistName %>'>
                  <%= params.track.artistName %>
                </div>
              <% }
            } %>
          </div>

          <%
          var prettifyTime = function(inSeconds) {
            var minutes = (Math.floor(inSeconds / 60)).toString();
            var seconds = Math.floor((inSeconds % 60)).toString();
            if (seconds.length == 1) {
              seconds = "0" + seconds;
            }
            return "" + minutes + ":" + seconds;
          };
          %>

          <div class="play-info">
            <div class="status-box">
              <img class="status-icon <%= params.state %>"></img>
              <img class="sound-icon"></img>
            </div>
            <div class="volume-slider">
              <%
              var offset = 0;
              if (params.volume > 0) {
                var maxOffset = 40; /* slider height set by css to 40px */
                offset = maxOffset * (1 - params.volume);
              }
              %>
              <img class="handle"
                <% if (offset > 0) {
                  print("style='top: " + offset + "px;'");
                }%>
                ></img>
            </div>
            <div class="duration"><%= (params.duration != null ? prettifyTime(params.duration) : "" ) %></div>
          </div>

          <div class="seek-slider
                      <% if (params.state != "play" && params.state != "pause" && params.state != "ready") {
                        print(" disabled ");
                      }%>" >
            <div class="handle"
              <%
              if (params.duration != null && params.currentTime > 0) {
                var sliderWidth = 290;
                var maxOffset = sliderWidth - 6;
                offset = Math.floor((params.currentTime/params.duration) * maxOffset);
                print("style='left: " + offset + "px;'");
              }
              %> >
              <div class="handle-val"></div>
              <img class="handle-image"></img>
            </div>
          </div>
        </div>
      </template>
    </script>

    <script id="BrowseRegion-default-template" type="text/template">
      <tapedeck>
        <events>
        </events>
        <options>
          "currentCassette" : "currentCassette",
        </options>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("currentCassette", false, params.currentCassette);
        } %>
        <div id="browse-region">
          <% if(typeof(params.currentCassette) != "undefined" && params.currentCassette != null) { %>
            <template ref="BrowseList-default-template" />
          <% }
          else { %>
            <template ref="CassetteList-default-template" />
          <% } %>
        </div>
      </template>
    </script>

    <script id="TrackList-default-template" type="text/template">
      <tapedeck>
        <events>
          "click .tracklist .row"                 : "TrackLists.rowClick",
          "click .tracklist .trackName-span"      : "TrackLists.rowDblClick",
          "click .tracklist .button.playnow"      : "TrackLists.rowButtonPlaynow",
          "click .tracklist .button.remove"       : "TrackLists.rowButtonRemove",
          "click .tracklist .button.queue"        : "TrackLists.rowButtonQueue",
          "click .tracklist .button.download"     : "TrackLists.rowButtonDownload",

          "click #current-cassette-row .button.prev-page"    : "TrackLists.prevPage",
          "click #current-cassette-row .button.current-page" : "TrackLists.setCurrentPage",
          "click #current-cassette-row .button.next-page"    : "TrackLists.nextPage",
          "click #current-cassette-row .button.eject"        : "TrackLists.eject"
        </events>
        <options>
        </options>
        <images>
          ".button.playnow" : "play-rowbutton.png",
          ".button.remove" : "remove-rowbutton.png",
          ".button.queue" : "queue-rowbutton.png",
          ".button.download" : "download-rowbutton.png",
          ".spinner.download" : "download-spinner.gif",

          ".tracklist .spinner.loading" : "dark-on-peach-loader.gif",
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          /* nothing to check */
        } %>
        <div class="tracklist">
          <% if(typeof(params.trackList) == "undefined" ||
                params.trackList == null ||
                (params.trackList.destination != "Queue" && typeof(params.stillParsing) != "undefined" && params.stillParsing)) { %>
            <div class="row-container blank">
              <div class="row blank">
                <div class="spinner loading"
                     id="loading-spinner"></div>
              </div>
            </div>
          <% } else {
            if (typeof(params.errorString) != "undefined" && params.errorString.length > 0) { %>
              <div class="row-container message">
                <div class="row message">
                  <%= params.errorString %>
                </div>
              </div>
            <% } else if (params.trackList.length == 0) { %>
              <div class="row-container message">
                <div class="row message">
                  <% if (params.trackList.destination == "Queue") { %>
                    There are no tracks in your queue.
                  <% }
                  else { %>
                    Cassette is blank.
                  <% } %>
                </div>
              </div>
            <% }
            if (params.trackList.length > 0) { %>
              <div class="row-container blank">
                <div class="row blank
                            <% if (params.trackList[0].listened) { print(" listened ") } %>"
                     id="hidden-droprow" index="-1">
                  <div class="cell trackName-col"></div>
                  <div class="cell artistName-col"></div>
                  <div class="cell cassette-col"></div>
                </div>
              </div>

              <% for (var i=0; i < params.trackList.length; i++) {
                var track = params.trackList[i];
              %>
                <div class="row-container">
                  <div class="row
                              <% if (track.error) { print(" error ") } %>
                              <% if (track.listened) { print(" listened ") } %>
                              <% if (track.playing) { print(" playing ") } %>"
                       index='<%= i %>'
                       track-id='<%= track.tdID %>'
                       track-type='<% if(typeof(track.type) == "undefined") {
                                        print("unknown")
                                      } else {
                                        print(track.type)
                                      } %>'
                       <% if (typeof(track.download) != "undefined") {
                          print("download='" + track.download + "'");
                       } %>
                       draggable="true" >
                    <div class="cell trackName-col" title='<%= track.trackName %>'>
                      <span class="trackName-span" >
                        <%= track.trackName %>
                      </span>
                    </div>
                    <div class="cell artistName-col" title='<%= track.artistName %>'>
                      <%= track.artistName %>
                    </div>
                    <div class="cell cassette-col" title='<%= track.cassette.replace(/_/g, " ") %>'>
                      <span class="cassette-span"><%= track.cassette.replace(/_/g, " ") %></span>
                      <div class="row-buttons">
                        <div class="button playnow"></div>
                        <div class="button remove"></div>
                        <div class="button queue"></div>
                        <div class="button download"></div>
                      </div>
                      <div class="row-indicators">
                        <div class="spinner download"
                             id="download-spinner"></div>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>
          <% } %>
        </div>
      </template>
    </script>

    <script id="Queue-default-template" type="text/template">
      <tapedeck>
        <events>
          "dragstart #queue .row" : "TrackLists.rowDragStart",
          "dragend #queue .row"   : "TrackLists.rowDragEnd",
          "dragenter #queue .row" : "TrackLists.rowDragEnter",
          "dragleave #queue .row" : "TrackLists.rowDragLeave",
          "dragover #queue .row"  : "TrackLists.rowDragOver",
          "drop #queue .row"      : "TrackLists.rowDrop"
        </events>
        <options>
          "queue" : "queue"
        </options>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("queue", true, params.queue);
        } %>
        <div id="queue" class="tracklist-container" rowdblclick="queueDblClick">
          <!-- we do not want the currentCassette, so make sure the trackList can not find it -->
          <template ref="TrackList-default-template" remap="params.trackList:params.queue,params.currentCassette:params.__doesNotExist__"/>
        </div>
      </template>
    </script>

    <script id="BrowseList-default-template" type="text/template">
      <tapedeck>
        <events>
          "dragstart #browse-list .row" : "TrackLists.rowDragStart",
          "dragend #browse-list .row"   : "TrackLists.rowDragEnd",

          "mouseover #feed-switcher-header"   : "TrackLists.showFeedSwitcher",
          "mouseleave #feed-switcher"         : "TrackLists.hideFeedSwitcher",
          "click #feed-switcher-content .feed-row" : "TrackLists.chooseFeed",

          "click #current-cassette-row .cassetteName" : "TrackLists.selectAll"
        </events>
        <options>
          "currentCassette" : "currentCassette",
          "currentPage" : "currentPage",
          "currentFeed" : "currentFeed",
          "browseList" : "browseList"
        </options>
        <images>
          ".button.prev-page" : "prev-page.png",
          ".button.next-page" : "next-page.png",
          ".button.eject" : "eject.png",
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("currentCassette", false, params.currentCassette);
          params.paramSanity("currentPage", false, params.currentPage);
          params.paramSanity("currentFeed", false, params.currentFeed);
          params.paramSanity("browseList", true, params.browseList);
        } %>
        <div id="browse-list" class="tracklist-container" rowdblclick="browseDblClick">
          <template ref="TrackList-default-template" remap="params.trackList:params.browseList" />
          <div id="current-cassette-row" class="row">
            <div class="cassetteName">
              <%= params.currentCassette.name.replace(/_/g, " ") %>
            </div>
            <% if (typeof(params.currentCassette.feeds) != "undefined" &&
                   Object.keys(params.currentCassette.feeds).length > 1 &&
                   typeof(params.currentFeed) != "undefined") { %>
              <div id="feed-switcher">
                <div class="feed-row" id="feed-switcher-header"><%= params.currentFeed %></div>
                <div id="feed-switcher-content">
                  <% for (var feedName in params.currentCassette.feeds) {
                    if (feedName != params.currentFeed) { %>
                      <div class="feed-row" feedName='<%= feedName %>' >
                        <%= feedName %>
                      </div>
                    <% } %>
                  <% } %>
                </div>
              </div>
            <% } %>
            <div class="row-buttons">
              <div class="button eject"></div>
              <% if (params.currentCassette.isPageable && typeof(params.currentPage) != "undefined") { %>
                <div class="button next-page"></div>
                <div id="current-page" class="button current-page">
                  <%= params.currentPage %>
                </div>
                <div class="button prev-page"></div>
              <% } %>
            </div>
          </div>
        </div>
      </template>
    </script>

    <script id="PlaylistList-default-template" type="text/template">
      <tapedeck>
        <events>
          "click #playlist-list-content .row" : "PlaylistList.playPlaylist",
          "click #playlist-list-content .removePlaylist" : "PlaylistList.removePlaylist",
        </events>
        <options>
          "playlistList" : "playlistList",
        </options>
        <images>
          "#playlist-list-icon"    : "playlist-icon.png",
          ".button.removePlaylist" : "rowbutton-remove.png",
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("playlistList", false, params.playlistList);
        } %>
        <div id="new-playlist-row" class="row">
          <img id="playlist-list-icon"></img>
          <div id="new-playlist-text"> Create new playlist. </div>
        </div>
        <div id="playlist-list-content">
          <% if (typeof(params.playlistList) == "undefined" || !params.playlistList || params.playlistList.length == 0) { %>
              <div class="row">
                No saved playlists.
              </div>
          <% }
          else { %>
            <% for (var i=0; i < params.playlistList.length; i++) {
              var playlist = params.playlistList[i];
            %>
              <div class="row" index='<%= i %>' >
                <div class="cell playlistName-col"> <%= playlist.id %> </div>
                <div class="cell row-buttons">
                  <div class="button removePlaylist"></div>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
      </template>
    </script>

    <script id="CassetteList-default-template" type="text/template">
      <tapedeck>
        <events>
          "click #cassette-list .row"            : "CassetteList.rowClick",
          "click #cassette-list .developerName" : "CassetteList.loadLink",

          "click .button.find" : "CassetteList.findCassettes",
          "click .button.cassettify" : "CassetteList.cassettify",

          "mouseover #add-cassettes-button"     : "CassetteList.showCassetteMenu",
          "click #cassette-list .removeCassette"         : "CassetteList.rowButtonRemove",
          "click #current-cassette-row .button.eject"        : "TrackLists.eject"
        </events>
        <options>
          "cassetteList" : "cassetteList",
        </options>
        <images>
          ".button.eject" : "eject.png",
          ".button.removeCassette" : "remove-cassette.png",
          ".button.find .spyglass.icon" : "spyglass.png",
          ".button.cassettify .cassettify.icon" : "cassettify.png",
           "#cassette-list .spinner.loading" : "grey-on-dark-loader.gif",
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("cassetteList", false, params.cassetteList);
        } %>
        <div id="cassette-list">
          <% if(typeof(params.cassetteList) == "undefined" || params.cassetteList == null) { %>
            <div class="row-container blank">
              <div class="row blank">
                <div class="spinner loading"
                     id="loading-spinner"></div>
                <div class="row-buttons">
                  <div class="button eject"></div>
                </div>
              </div>
            </div>
          <% }
          else { %>
            <% for (var i=0; i < params.cassetteList.length; i++) {
              var cassette = params.cassetteList[i];
              var displayName = cassette.name.replace(/_/g, " ");
            %>
              <div class="row-container">
                <div class="row <% if (cassette.active) { print(" active "); } %>"
                     index='<%= i %>'
                     cassette-name='<%= cassette.name %>'
                     <% if (typeof(cassette.preload) != "undefined") { %>
                       preload="<%= cassette.preload %>"
                     <% } %> >
                  <div class="cassetteName" title='<%= displayName %>'> <%= displayName %> </div>
                  <div class="developerName"
                       title='<%= cassette.developerLink %>'
                       url='<%= cassette.developerLink %>' >
                    <%= cassette.developer %>
                  </div>
                  <div class="row-buttons">
                    <div class="button removeCassette"></div>
                  </div>
                </div>
              </div>
            <% } %>
          <% } %>
          <div id="add-cassettes-buttons">
              <div class="button find">
                <div class="button-content">
                  <div class="spyglass icon"></div>
                  <div class="text-content">Find</div>
                </div>
              </div>
              <div class="button cassettify">
                <div class="button-content">
                  <div class="cassettify icon"></div>
                  <div class="text-content">Build</div>
                </div>
              </div>
          </div>
        </div>
      </template>
    </script>

    <script id="Modal-default-template" type="text/template">
      <tapedeck>
        <events>
            "click .modal #close-button"  : "Modal.close",
            "click .modal .submit-button" : "Modal.submit",
            "keypress .modal input[type='text']" : "Modal.enterPress",
        </events>
        <options>
        </options>
        <images>
          "#close-button": "modal-close.png",
        </images>
      </tapedeck>

      <template>
        <!-- Note options are params.X here -->
        <div id="blackout"></div>
        <div id='modal-container' class="modal">
          <div id="close-button"></div>
          <span id="modal-title"><% if (typeof(params.title) != "undefined") print(params.title);  %></span>
          <form id="modal-form">
            <% for (var i=0; i < params.fields.length; i++) {
              var field = params.fields[i]; %>
              <div class="field-row row <%= field.type %>">
                <% if (field.type == "info") { %>
                  <span class="info"><%= field.text %></span>
                <% } else if (field.type == "list") { %>
                  <ul>
                    <% for (var i = 0; i < field.list.length; i++) { %>
                      <li><%= field.list[i] %></li>
                    <% } %>
                  </ul>
                <% } else if (field.type == "input") { %>
                  <span class="input"><%= field.text %></span>
                  <input callbackParam="<%= field.callbackParam %>" type="text" />
                <% } else if (field.type == "space") { %>
                  <div class="space"></div>
                <% }%>
              </div>
            <% } %>
            <div class="button-box">
              <% if (typeof(params.submitButtons) == "undefined") { %>
                <input type="button" class="submit-button" value="Ok" />
              <% } else {
                for (var i=0; i < params.submitButtons.length; i++) {
                  var button = params.submitButtons[i]; %>
                  <input type="button"
                         class="submit-button"
                         callbackParam="<%= button.callbackParam %>"
                         value="<%= button.text %>" />
                <% }
              } %>
            </div>
          </form>
        </div>
      </template>
    </script>

     <script id="DeveloperPanel-default-template" type="text/template">
      <tapedeck>
        <events>
          "click input[name='view-control']" : "DeveloperPanel.saveOptions"
        </events>

        <options>
          "devPanelOptions" : "devPanelOptions"
        </options>

        <images>
        </images>
      </tapedeck>

      <template>
        <% if(params.debug > 0) {
          params.paramSanity("devOptions", true, params.devOptions);
        } %>
        <div id="developer-panel">
          This is the developer panel
          <div class="view-controls container">
            Step through views: <input type="checkbox"
                                       name="view-control"
                                       value="view-control"
                                       <% if (typeof(params.devPanelOptions.controlViews) != "undefined" && params.devPanelOptions.controlViews) {
                                             print('checked=true');
                                       } %> />
          </div>
        </div>
      </template>
    </script>

  </head>
  <body>
    <audio id="audioplayer1" preload="auto"></audio>
    <audio id="audioplayer2" preload="auto"></audio>
    <div id="dump"> </div>
    <iframe id="sandbox" src="sandbox.html"></iframe>
  </body>

</html>
