/* The iframe and injected buttons needs !importants
 * so that the outer page's css cannot affect their styling */
#tapedeck-frame {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: auto !important;
  right: -340px !important;
  width: 340px !important;
  min-width: 340px !important;
  max-width: 340px !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  background-color: #333333 !important;
  border: 0;
  box-shadow: -3px 0 7px 0 rgba(0,0,0,0.6);
  padding: 0 !important;
  margin: 0 !important;
  z-index: 9999; /* we might need to increase this so no !important */

  -webkit-transition: right 700ms ease-in-out;
}

#tapedeck-frame.open {
  right: 0 !important;
}

body[tapedeck-opened] {
  margin-right: 350px !important;
}

tapedeck-buttonbox#tapedeck-injected-buttons {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 25px;
  height: 90px;
  background-color: #333333;
  box-shadow: -3px 0 7px 0 rgba(0,0,0,0.6);
  z-index: 9999;
  padding: 2px 0;

  -webkit-transition: right 700ms ease-in-out;
}

.tapedeck-injected-button {
  display: inline-block !important;
  position: static !important;
  right: 0;
  margin: 2px 3px !important;
  padding: 0 !important;
  width: 18px !important;
  height: 18px !important;
  background-size: 18px 18px !important;
  clear: both !important;
  float: right;
}

.tapedeck-injected-button:hover {
  cursor: pointer;
}

#tapedeck-frame[hidden],
.tapedeck-injected-button[hidden] {
  display: none !important;
}
