/* The iframe and injected buttons needs !importants
 * so that the outer page's css cannot affect their styling */
#tapedeck-frame {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: auto !important;
  right: 0 !important;
  width: 350px !important;
  min-width: 350px !important;
  max-width: 350px !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  background-color: rgb(188,188,188) !important;
  border: 2px ridge rgb(188,188,188) !important;
  padding: 0px !important;
  margin: 0px !important;
  z-index: 9999; /* we might need to increase this so no !important */
}

body[tapedeck-opened] {
  margin-right: 350px !important;
}

tapedeck-buttonbox#tapedeck-injected-buttons {
  display: block;
  position: fixed;
  top: 35px;
  right: 0px;
  width: 20px;
  height: 120px;
  z-index: 9999;
}

.tapedeck-injected-button {
  display: inline-block !important;
  position: static !important;
  margin: 0 0 10px 0 !important;
  padding: 0 !important;
  width: 20px !important;
  height: 20px !important;
  background-size: 20px 20px !important;
  clear: both !important;
}

.tapedeck-injected-button:hover {
  cursor: pointer;
}

#tapedeck-frame[hidden],
.tapedeck-injected-button[hidden] {
  display: none !important;
}
