/* The iframe and injected buttons needs !importants
 * so that the outer page's css cannot affect their styling */
#tapedeck-frame {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: auto !important;
  right: -340px !important;
  width: 365px !important;
  min-width: 365px !important;
  max-width: 365px !important;
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  border: 0;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 9999; /* we might need to increase this so no !important */
}

#tapedeck-frame.animate {
  -webkit-transition: right 700ms ease-in-out;
}

#tapedeck-frame.open {
  right: 0 !important;
}

body[tapedeck-opened] {
  margin-right: 350px !important;
}
