/* Frame and Onscreen Buttons */
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 365px;
  height: 100%;
  display: block !important; /* necessary so that the frame appears when css ready */
  font-family: Tahoma, "FreeSans", sans-serif;
}

#frame-gutter {
  display: block;
  position: relative;
  float: left;
  width: 24px;
  height: 90px;
  z-index: 9999;
}

#onscreen {
  width: 100%;
  height: 100%;
  padding: 2px 0;
  background-color: #333333;
  box-shadow: -3px 0 7px 0 rgba(0,0,0,0.6);
  border-right: 1px solid #222;

  -webkit-transition: right 700ms ease-in-out;
}

.onscreen-button {
  display: inline-block !important;
  position: static !important;
  right: 0;
  margin: 2px 2px !important;
  padding: 0 !important;
  width: 18px !important;
  height: 18px !important;
  background-size: 18px 18px !important;
  clear: both !important;
  float: right;
}

.onscreen-button.pause {
  width: 17px !important;
  margin-left: 1px;
}

.onscreen-button:hover {
  cursor: pointer;
}

.onscreen-button[hidden] {
  display: none !important;
}

.frame-box {
  display: block;
  float: left;
  clear: right;
  position: relative;
  background-color: #333333;
  width: 340px;
  min-width: 340px;
  max-width: 340px;
  height: 100%;

  box-shadow: -3px 0 7px 0 rgba(0,0,0,0.6);
}

/* The Player */
.player-window {
  width: 311px;
  height: 77px;
  background-color: #FDF2D8;
  margin: 6px 15px 12px 13px;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,1),
              3px 3px 3px rgba(256,256,256,0.5);
}

.track-info {
  position: relative;
  margin: 0 6px 13px 6px;
  width: 275px;
  height: 55px;
  top: 6px;
  cursor: default;

  -webkit-user-select: none;
}
.track-info > div {
  max-width: 275px;
  display: block;
  float: left;
  clear: both;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.track-name {
  font: 24px Tahoma, "FreeSans", sans-serif;
  line-height: 28px;
}
.artist-name {
  font: 20px Tahoma, "FreeSans", sans-serif;
  line-height: 24px;
}

.seek-slider {
  height: 2px;
  width: 280px;
  background-color: #333333;
  margin: 0px auto;
}
.seek-slider.disabled {
  opacity : 0.4;
}
.seek-slider.disabled > .handle {
  cursor: default;
}
.seek-slider .handle {
  position: relative;
  top: 0px;
  cursor: pointer;
}
.handle-image {
  margin: -2px 0;
}
.handle-val {
  font: 12px Tahoma, "FreeSans", sans-serif;
  line-height: 14px;

  position: absolute;
  top: -13px;
  left: -7px;
}

.play-info {
  position: absolute;
  top: 14px;
  right: 20px;

  -webkit-user-select: none;
}
.status-box {
  width: 26px;
  float: left;
}
.status-box img {
  margin: 1px 2px 2px 2px;
}
.status-box .sound-icon {
  position: absolute;
  right: 6px;
  top: 21px;
}
.volume-slider {
  height: 40px;
  width: 2px;
  position: relative;
  float: right;
  background-color: #333333;
}
.volume-slider .handle {
  position: relative;
  margin: 0 -2px;
  top: 1px;
  cursor: pointer;
}

.duration {
  position: absolute;
  top: 45px;
  right: 0px;
  font: 12px Tahoma, "FreeSans", sans-serif;
}

/* TrackLists */
.tracklist-container {
  width: 324px;
  height: 250px;
  margin: 4px auto;
  background-color: #FDF2D8;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,1),
              3px 3px 3px rgba(256,256,256,0.5);
}
.tracklist {
  height: 100%;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid black;
  border-bottom-color: transparent;
  border-right-color: #333333;
}
.tracklist #hidden-droprow {
  max-height: 6px;
  min-height: 6px;
  border-bottom: none;
}
.tracklist #hidden-droprow .cell {
  max-height: 6px;
  min-height: 6px;
}
.tracklist #hidden-droprow.drag-target .cell {
  background-color: #D99939 !important;
}
.tracklist .row-container {
  position: relative;
  -khtml-user-select: none;
  width: 100%;
  max-width: 324px;
  overflow: hidden;
  border-bottom: 1px solid #333;
}
.tracklist .row-container.blank {
  border-bottom-width: 0px !important;
}
.tracklist .row {
  position: relative;
  min-width: 324px;
  height: 19px;
  border: 0px;
}
.tracklist .row:not(.blank):not(.message):not(#hidden-droprow):hover {
  background-color: #F8E5B8;
  cursor: pointer;

  -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0, black), color-stop(1, transparent)) 0 100%;
  border-left-width: 4px;
}
.tracklist .row-container:hover {
  border-bottom: 1px solid black;
}
.tracklist .row:not(.blank):not(.message):not(#hidden-droprow):hover .cell.trackName-col {
  padding-left: 1px;
}
.tracklist .row.selected {
  background-color: #E9D9B4;

  -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0, black), color-stop(1, transparent)) 0 100%;
  border-left-width: 4px;
}
.tracklist .row.selected .cell.trackName-col {
  padding-left: 1px;
}
.tracklist .row.selected:hover {
  background-color: #E0CEA3 !important;

  -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0, black), color-stop(1, transparent)) 0 100%;
  border-left-width: 4px;
}
.tracklist .row.listened {
  opacity : 0.65;
}
.tracklist .row.playing .cell{
  font-weight: bold;
}
.tracklist .row:not(.playing) .cell{
  font-weight: normal !important;
}
.tracklist .row.error .cell{
  text-decoration: line-through;
  opacity : 0.65;
}
.tracklist .row.blank {
  cursor: default;
}
.tracklist-container .cell,
.tracklist-container .row.message {
  position: relative;
  display: table-cell;
  -webkit-user-select: none;
  user-select: none;
  min-height: 16px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tracklist-container .cell {
  float: left;
  padding-left: 2px;
  border-right: 2px solid #333;
}
.tracklist .row-container:not(.blank):not(.message).drag-target {
  border-bottom: solid 2px #D99939;
  height: 18px;
}
.tracklist .row:not(.blank):not(.message).drag-target {
  border-bottom-width: 0;
}
.tracklist .cell.trackName-col {
  padding-left: 5px;
  width: 143px;
}
.tracklist .cell.artistName-col {
  width: 96px;
}
.tracklist .cell.cassette-col {
  width: 71px;
  border-right: none;
}
.tracklist .trackName-span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tracklist .row.message {
  padding: 3px 0 0 5px;
  cursor: default;
}

#queue {
}

#queue-buttons {
  width: 328px;
  height: 26px;
  margin: auto;
}

#cassette-list {
  width: 334px;
  margin: 0 auto;
}

#current-cassette-row,
#cassette-list .row,
#add-cassettes-buttons .button {
  position: relative;
  z-index: 4;
  height: 22px;
  margin-top: -2px;
  padding: 2px 0 2px 4px;

  background-color: #1A1A1A;
  color: white;
  border: 1px solid black;
  box-shadow: inset 2px -2px 2px rgba(0,0,0,0.5),
              3px 1px 3px rgba(256,256,256,0.5),
              0px -2px 2px rgba(0,0,0,0.6);

}
#cassette-list .row:hover,
#add-cassettes-buttons .button:hover {
  background-color: #121212;
  cursor: pointer;
}
#current-cassette-row .cassetteName,
#cassette-list .row .cassetteName {
  position: relative;
  font-size: 18px;
  float: left;
  width: 146px;
  margin-top: -1px;
}
#current-cassette-row #feed-switcher {
  position: relative;
  width: 94px;
  display: inline-block;
  float: left;
  background-color: black;
}
.tracklist-container #current-cassette-row #feed-switcher .feed-row {
  position: relative;
  font-size: 14px;
  min-height: 22px;
  width: 100%;
  cursor: pointer;
  padding: 1px 0 1px 4px;
  -webkit-box-sizing: border-box;
}
.tracklist-container #current-cassette-row #feed-switcher .feed-row:hover {
  background-color: #121212;
  border: 1px solid black;
  padding: 0 0 0 3px;
}
#current-cassette-row #feed-switcher #feed-switcher-content {
  display: none;
}
#current-cassette-row .row-buttons {
  width: 72px;
  position: relative;
  display: block;
  float: right;
  margin-left: 2px;
}
#current-cassette-row .row-buttons .button {
  display: inline-block;
  height: 100%;
  width: 16px;
  float: right;
  cursor: pointer;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
}
#current-cassette-row .row-buttons .current-page {
  width: 20px;
  max-width: 20px;
  font: bold 13px arial, sans-serif;
  text-align: center;
  line-height: 20px;
}
#current-cassette-row .row-buttons #set-page {
  width: 20px;
  max-width: 20px;
  border: none;
  float: right;
  padding: 0 1px;
  text-align: center;
}
#current-cassette-row .row-buttons .eject {
  width: 17px;
  border-left: 2px solid #1A1A1A;
  margin-right: 1px;
}

#cassette-list .row {
  margin: 4px 2px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
#cassette-list .row .cassetteName {
  width: 200px;
}
#cassette-list .row .developerName {
  background-color: black;
  width: 110px;
  float: left;
  padding: 3px 4px 0 4px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tracklist .spinner.loading,
#cassette-list .spinner.loading {
  height: 12px;
  width: 16px;
  position: absolute;
  left: 50%;
  top: 6px;
  margin-left: -8px;
  background-repeat: no-repeat;
}

#add-cassettes-buttons .button {
  margin: 0 2px;
  width: 161px;
  float: left;
  padding: 0 0 2px 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
#add-cassettes-buttons .button-content {
  margin: 0 auto;
  font-size: 18px;
  height: 100%;
  max-width: 42%;
}
#add-cassettes-buttons .button:last-child {
  clear: right;
}
#add-cassettes-buttons .button-content .icon {
  height: 16px;
  width: 20px;
  display: inline-block;
}
#add-cassettes-buttons .button-content .text-content {
  display: inline-block;
  height: 22px;
}

#playlist-list {
  width: 18px;
  max-width: 228px;
  min-height: 18px;
  max-height: 18px;
  float: left;
  margin: 3px 0 0 4px;
  border: 1px dashed #999;
  overflow: hidden;
  background-color: #333333;
  z-index: 1;
  position: absolute;

  font-size: 14px;
  white-space: nowrap;

  -webkit-transition: width 600ms linear,
                      max-height 600ms linear,
                      background-color 600ms ease-out;
}
#playlist-list:hover {
  width: 228px;
  max-height: 400px;
  background-color: #E5E5E5;
  z-index: 5;
}
#playlist-list .row {
  display: block;
  width: 100%;
  height: 20px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #999;
}
#playlist-list .row:last-child {
  border-bottom: none;
}
#playlist-list .row:hover {
  background-color: #CCCCCC;
  cursor: pointer;
}
#playlist-list #playlist-list-icon {
  float: left;
}
#playlist-list #new-playlist-text {
  padding-top: 1px;
}
#playlist-list #playlist-list-content {
  min-width: 228px;
}
#playlist-list #playlist-list-content .row {
  padding-left: 4px;
}

#playback-button-box {
  float: right;
  padding-top: 3px;
}
.playback-button {
  cursor: pointer;
  float: left;
  margin-left: 2px;
}

#modal {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 340px;
  height: 100%;
}
#blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
  z-index: 100;
}
#modal-container {
  position: relative;
  top: 30%;
  margin: 0 auto;
  width: 270px;
  min-height: 150px;
  z-index: 101;
  padding: 2px 6px;

  background-color: #FDF2D8;
  border: 3px solid #1A1A1A;
  border-radius: 7px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}
#modal-container #close-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 14px;
  width: 14px;
  margin: 8px;
  cursor: pointer;
}
#modal-container #modal-title {
  font-size: 22px;
  color: #333;
}
#modal-container #modal-form {
  margin: 0 0 36px 0;
}
#modal-container ul {
  margin: 0 0 0 0;
  padding-left: 20px;
}
#modal-container input[type='text'] {
  width: 266px;
  margin: 4px 0 0 2px;
}
#modal-container .space {
  height: 4px;
}
#modal-container .button-box {
  width: 270px;
  position: absolute;
  bottom: 6px;
}
#modal-container .submit-button {
  color:#FFFFFF;
  font: 14px Tahoma, "FreeSans", sans-serif;
  background-color:#333333;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  cursor: pointer;
}